<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABOUT ME</title>
  </head>
  <body>
    <h1>ABOUT ME</h1>
    <ul>
      <li>LOVE FOOD</li>
      <li>LOVE TRAVEL</li>
      <li>LOVE LIFE</li>
    </ul>
  </body>
</html>
