<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CONTACT ME</title>
  </head>
  <body>
      <h1>CONTACT ME</h1>
      <label for="name">Enter your name</label>
      <input type="text" name="name" value="name">
      <input type="button" name="name" value="Enter">
  </body>
</html>
