<%# <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
  </head>
  <body>%>
    <h1>FAQ</h1>
    <form method="POST" action="/animals">
        <label for="type">Type</label>
        <input type="text" name="type">

        <label for="question">Question</label>
        <input id="question" type="text" name="name">

        <input id="type" type="submit">
    </form>
    <%# </body>
</html>%>
